/*******************************************************************************
Slate Theme for GitHub Pages
by Jason Costello, @jsncostello
*******************************************************************************/

@import url(github-light.css);

/*******************************************************************************
MeyerWeb Reset
*******************************************************************************/


html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*******************************************************************************
Theme Styles
*******************************************************************************/

.tex sub, .latex sub, .latex sup {
  text-transform: uppercase;
}

.tex sub, .latex sub {
  vertical-align: -0.5ex;
  margin-left: -0.1667em;
  margin-right: -0.125em;
}

.tex, .latex, .tex sub, .latex sub {
  font-size: 1em;
}

.latex sup {
  font-size: 0.85em;
  vertical-align: 0.15em;
  margin-left: -0.36em;
  margin-right: -0.15em;
}

body {
  box-sizing: border-box;
  color:#444745;
  background: #ffffff;
  font-size: 16px;
   <!--line-height: 1.5;-->
  letter-spacing: 3px;
  -webkit-font-smoothing: antialiased;
}
  >

h1, h2, h3, h4, h5, h6 {
  margin: 10px 0;
  <!--font-weight: 700;-->
  color:#444745;
  <!--font-family: font-family: Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;-->
 <!-- letter-spacing: -1px;-->
}

h1 {
  font-size: 38px;
  margin-top: 20px;
text-align: center;
/* margin-left: 640px;*/
/*    text-shadow: 0px 0px 1px #ec8929*/
}

hc {
 position: fixed;
  font-size: 30px;
  margin-top: 10px;
    margin-left: 600px;
/*    text-shadow: 0px 0px 1px #ec8929*/
}

h2 {
  padding-bottom: 10px;
  font-size: 32px;
  background: url('../images/bg_hr.png') repeat-x bottom;
}

h3 {
  font-size: 18px;
    margin-bottom: 25px;
    
}

h4 {
  <!--font-style: italic;-->
  font-size: 12px;
  margin-top:-96px;
  margin-bottom:-22px;
text-align: center;
/* margin-left: 935px*/
}

ht {
  <!--font-style: italic;-->
  font-size: 22px;
  margin-top: 20px;
}

ha {
  font-style: bold;
  font-size: 36px;
}

h5 {
  font-size: 18px;
}

h6 {
  margin-top: 20px;
  font-size: 11px;
}

h7 {
    
    font-size: 16px;
    margin-top: 20px;
    margin-bottom: 15px;
  }

p {
  margin: 10px 0 15px 0;
}

p2 {
   
  margin: 100px 100px 15px 0;
}

footer p {
  color: #f2f2f2;
}

p3{
    background-color: #006d78;
    color:white;
    font-family: 'Computer Modern Typewriter', sans-serif;
    padding: 2px;
}

p4{
    font-weight: bold;
    letter-spacing: 1px;
    font-size: 15px;
}

p4c{
    font-weight: bold;
    letter-spacing: 1px;
    color:#006d78; 
}



p4a{
    font-weight: bold;
}

p4b{
    font-weight: bold;
    color: #006d78;
}

p5{
    font-family: 'Computer Modern Typewriter';
}

p5a{
    font-family: 'Computer Modern Typewriter';
    font-size: 12px;
}

p6{
    font-family: 'Computer Modern Typewriter';
    font-weight: bold;
}

p7{
    font-family: 'Computer Modern Typewriter';
    color: #006d78;
}


p8{
    background-color: #444745;
    color:white;
    font-family: 'Computer Modern Typewriter';    
}

p9{
   
    color:#006d78;
 
}

/*
a {
  text-decoration: none;
  color: #000000;
  text-shadow: none;

  transition: color 0.5s ease;
  transition: text-shadow 0.5s ease;
  -webkit-transition: color 0.5s ease;
  -webkit-transition: text-shadow 0.5s ease;
  -moz-transition: color 0.5s ease;
  -moz-transition: text-shadow 0.5s ease;
  -o-transition: color 0.5s ease;
  -o-transition: text-shadow 0.5s ease;
  -ms-transition: color 0.5s ease;
  -ms-transition: text-shadow 0.5s ease;
}

a:hover, a:focus {text-decoration: underline;}
*/


a {
  text-decoration: none;
  color: #444745;
  text-shadow: none;

  transition: color 0.5s ease;
  transition: text-shadow 0.5s ease;
  -webkit-transition: color 0.5s ease;
  -webkit-transition: text-shadow 0.5s ease;
  -moz-transition: color 0.5s ease;
  -moz-transition: text-shadow 0.5s ease;
  -o-transition: color 0.5s ease;
  -o-transition: text-shadow 0.5s ease;
  -ms-transition: color 0.5s ease;
  -ms-transition: text-shadow 0.5s ease;
}

a:hover, a:focus {border-bottom: 2px solid #444745}




em {
  font-style: italic;
}

strong {
  font-weight: bold;
}

/*
img {
  position: relative;
  margin: 0 auto;
  max-width: 739px;
  padding: 5px;
  margin: 10px 0 10px 0;
  border: 1px solid #ebebeb;
*/

/*
  box-shadow: 0 0 5px #ebebeb;
  -webkit-box-shadow: 0 0 5px #ebebeb;
  -moz-box-shadow: 0 0 5px #ebebeb;
  -o-box-shadow: 0 0 5px #ebebeb;
  -ms-box-shadow: 0 0 5px #ebebeb;
*/
}

p img {
  display: inline;
  margin: 0;
  padding: 0;
  vertical-align: middle;
  text-align: center;
  border: none;
}

pre, code {
  width: 100%;
  color: #222;
  background-color: #fff;

  font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;
  font-size: 14px;

  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
}

pre {
  width: 100%;
  padding: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,.1);
  overflow: auto;
}

code {
  padding: 3px;
  margin: 0 3px;
  box-shadow: 0 0 10px rgba(0,0,0,.1);
}

pre code {
  display: block;
  box-shadow: none;
}

blockquote {
  color: #666;
  margin-bottom: 20px;
  padding: 0 0 0 20px;
  border-left: 3px solid #bbb;
}


ul, ol, dl {
  margin-bottom: 15px
}

ul {
  list-style-position: inside;
  list-style: disc;
  padding-left: 20px;
}

ol {
  list-style-position: inside;
  list-style: decimal;
  padding-left: 20px;
}

dl dt {
  font-weight: bold;
}

dl dd {
  padding-left: 20px;
  font-style: italic;
}

dl p {
  padding-left: 20px;
  font-style: italic;
}

hr {
  height: 1px;
  margin-bottom: 5px;
  border: none;
  <!--background: url('../images/bg_hr.png') repeat-x center;-->
}

hr2 {
    display: block;
    height: -5  5px;
    border: 10;
    border-top: 1px solid #dedede;
    margin: 1.5em 0;
    padding: 0; 
    color: #dedede;
    }

hr3 {
    display:block;
    height: -15px;
    border: 10;
    border-top: 1px solid #b3b3b3;
    margin: 2em 0 0.2em 0;
    padding: 0; 
    color: #b3b3b3;  
}
hr8 {
    display:block;
    height: -15px;
    border: 10;
    border-top: 1px dashed #b3b3b3;
    margin: 2em 0 0.2em 0;
    padding: 0; 
    color: #b3b3b3;  
}

hr3a {
    display:block;
    height: -15px;
    border: 10;
    border-top: 1px solid #b3b3b3;
    margin: 1.5em 0;
    padding: 0; 
    color: #b3b3b3;  
}

hr4 {
    display: block;
    margin: 1.5em 0;
    color: #dedede;
    z-index: 50000;
    }

hr5 {
    display: block;
    height:  5px;
    border: 0;
    border-top: 1px solid #dedede;
    margin: 20px 0em 0px 1.3em;
    padding: 0; 
    color: #dedede;
    margin-left: 15%;
    margin-right: 15%;
    }

hr6 {
    display: block;
    border: 0;
    border-top: 1px solid #dedede;
    color: #dedede;
    margin: 3px 0em 0em 1.3em;
    margin-left: 15%;
    margin-right: 15%;
    }

hr7 {
   display: block;
    width: 25px;
    border: 0;
    border-top: 2px solid #006d78;
    color: #006d78;
    margin: 1em 0em 0.5em 0em;
    }

div.horizontalgap{float:left;overflow:hidden;height:1px;width:0px;}

table {
  border: 1px solid #373737;
  margin-bottom: 20px;
  text-align: left;
 }

th {
  font-family: 'Lucida Grande', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  padding: 10px;
  background: #373737;
  color: #fff;
 }

td {
  padding: 10px;
  border: 1px solid #373737;
 }

form {
  background: #ffffff;
  padding: 20px;
}

/*******************************************************************************
Full-Width Styles
*******************************************************************************/

.outer {
  width: 100%;
}

.foto {
  position: absolute;
    left: 50px;
    top: 140px;
    z-index: 10;
    border: 0;
}

.foto2 {
  position: fixed;
    left: 1390px;
    top: 35px;
    z-index: 1000;
    border: 0;
    width: 240px; /* you can use % */
    height: auto;
}
/*.inner {
  position: relative;
  max-width: 800px;
  padding: 20px 50px;
  margin: 0 auto;
  margin-bottom: -40px;
}*/



.inner14 {
  position: static;
margin-top: 0px;
    margin-left:-5px;
    margin-bottom: -26px;
}


.inner3 {
  position: relative;
  max-width: 800px;
  padding: 20px 50px;
  margin: 0 auto;
margin-top: -40px
}

.inner4 {
  position: relative;
  max-width: 800px;
  padding: 50px 0px 50px 120px;
  margin: 0 auto;
margin-top: -40px
}

.inner6 {
  position: fixed;
  max-width: 800px;
  padding: 10px 0px 5px 0px;
margin-top: -60px
}

.inner2 {
  position: relative;
  max-width: 640px;
  padding: 15px 0px 0px 0px;
  margin: 0 auto;
}

.inner5 {
  position: relative;
  max-width: 100%;
  margin: 0 auto;
  margin-bottom: 0px;
  top:85px;
z-index: 1;
}

.inner6 {
  position: relative;
    padding-right: 170px;
    left: -200px;
  max-width: 100%;
  margin: 0 auto;
  top:-15px;
z-index: 1;
}

.inner7 {
  position: relative;
  max-width: 1000px;
  padding: 0px  50px;
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 100px;
  min-height: 680px;
}

.inner12 {
  position: relative;
  max-width: 800px;
  padding: 0px  50px;
  margin: 0 auto;
margin-top: 50px;
    margin-bottom: 100px;
    min-height:1000px;
}

.inner8 {
  position: relative;
  max-width: 100%;
  padding: 20px  50px;
  margin: 0 auto;
    
}

.inner9 {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
    right: 200px;
}

.inner11 {
  position: relative;
  max-width: 800px;
  padding: 0px  50px;
  margin: 0 auto;
margin-top: 80px;
    margin-bottom: 100px;
}

.inner13 {
  position: relative;
  max-width: 800px;
  padding: 15px 0px 0px 120px;
  margin: 0 auto;
margin-top: -40px
}

/*#contato1 {
  display: block;
  position:fixed;
  top:10;
  left: 850px;
  z-index: 100;
  padding: 8px 10px 8px 10px;
    color: #006d78;
  font-size: 14px;
    font-weight: bold;
   <!--background: #006d78 no-repeat 95% 50%;-->
  border-style: solid;
  border-width: 2px;
  border-color: #006d78; 
}*/

#contato1 {
    position: fixed;
    top: 65px;
    right: 120px;
    background-color: white;
    width: 200px;
    border: 2px solid #006d78;
    padding: 10px;
    margin: 1px;
    color: #006d78;
    font-size: 14px;
    font-weight: bold;
}

img {
    position:static;
    top: 0px;
    z-index: 1000;
    border: 0;

}

img2 {
    position: fixed;
    left: 130px;
    top: 20px;
    z-index: 1000;
    border: 0;

}



div.img img {
    position: absolute;
    right: 130px;
    top: 220px;
    width: 70%;
    height: auto;
}


#mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; width:100%;position: absolute;
    right: 0px;}


.inner {
  position: fixed;
  width: 100%;
   margin: 0;
  left: 0px;
  top: 0px;
  
  }




header {
    position: fixed;
    z-index: 1000000;
    background-color: #fff;
}

#project_title {
  margin: 0;
  color: #fff;
  font-size: 42px;
  font-weight: 700;
  text-shadow: #111 0px 0px 10px;
}

#project_tagline {
  color: #fff;
  font-size: 24px;
  font-weight: 300;
  background: none;
  text-shadow: #111 0px 0px 10px;
}

#downloads {
  position: absolute;
  width: 210px;
  z-index: 10;
  bottom: -40px;
  right: 0;
  height: 70px;
  background: url('../images/icon_download.png') no-repeat 0% 90%;
}


#main_content_wrap {
  background: #ffffff;
  <!--border-top: 1px solid #111;-->
  <!--border-bottom: 1px solid #111;-->>
    
}

#main_content {
  
    top:80px;
}

#footer_wrap {
  background: #4f7177;
}

.navbar-default {
    background-color: #fff!important;
    border-color: #fff!important;
    margin-bottom: 0px;
    border: none!important;
}

.marca-verde {
  background-color: #444745;
  color: #fff;
  padding: 2px;
}

.link-texto {
  color: #006d78;
  text-decoration: none !important;
}

a.link-texto:link {
  text-decoration: none !important;
}

a.link-texto:hover {
  text-decoration: none !important;
}

a.link-texto:active {
  text-decoration: none !important;
}

a.link-texto:focus {
  text-decoration: none !important;
}

.sem-marcador {
  list-style-type: none;
}

ul.sem-marcador {
  list-style-type: none;
}

.botao-contato {

  text-decoration: none !important;
  color: #fff !important;

}

a.botao-contato:link {

  text-decoration:none;
  color: #fff !important;
}

a.botao-contato:hover {

  text-decoration:none;
  color: #fff !important;
  border-bottom: 0px solid #fff!important;
}

a.botao-contato:focus {

  text-decoration:none;
  color: #fff !important;
  border-bottom: 0px solid #fff!important;
}